body {
  font-family: "Courier New", monospace;
  background-color: #cda2dc;
}

::selection {
  background: #6B6DEC;
}
::-moz-selection {
  background: #6B6DEC;
}

div {
  margin: 10px;
  padding: 10px;
}
.main {
  margin: auto;
  width: 75%;
  text-align: center;
}
.nav {
  background-color: #cda2dc;
  font-weight: bold;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5%;
  text-align: center;
}

p {}
.title {
  font-size: 125%;
  font-weight: bold;
}

ul {
  margin: 0% 10%;
  text-align: left;
}
ol {
  margin: 0% 10%;
  text-align: left;
}
li {
  text-align: left;
}

img {
  border: 2px solid black;
}
.eq {
  border: 0px;
}
